node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-store

# Build output
/dist
/coverage
/.nyc_output

# Local env files
.env
.env.*
!.env.example

# Tooling/IDE
.vscode
.idea
.DS_Store

# Git metadata
.git
.gitignore

# Misc
/tmp
